
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-navbar {
  flex: 0 0 auto;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

app-map {
  flex: 1 1 auto;
  display: flex; 
}


.welcome-message {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #333;
  border: 2px solid #7bb661;
  border-radius: 12px;
  padding: 40px 50px;
  width: 500px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  z-index: 1000;
  font-size: 1.3rem;
}

.welcome-message p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.btn-ok {
  background-color: #7bb661;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.btn-ok:hover {
  background-color: #66a74f;
}
