.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 24px;
  background: #7bb661;
  font-size: 30px;
  color: #fff;
  box-sizing: border-box;
}

/* Pulsanti Profilo/Logout */
.profile-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 32px;
}

/* Pulsante Profilo */
.profile-button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: none;
  border: none;
  background-color: #66a74f;
  transition: background-color 0.3s;
  cursor: pointer;
}

.profile-button:hover {
  background-color: rgba(123, 182, 97, 0.8);
}

/* Pulsante Logout */
.logout-button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 0px;
  border: none;
  background-color: #66a74f;
  transition: background-color 0.3s; 
  cursor: pointer;
}

.logout-button:hover {
  background-color: rgba(123, 182, 97, 0.8);
}

.profile-icon, .logout-icon {
  font-size: 1.5rem;
  color: rgb(11, 11, 59);
  cursor: pointer;
}

/* Pulsanti Login/Sign in */
.login, .sign-up {
  border: none;
  color: #fff;
  border-radius: 0px;
  padding: 12px 26px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 10px;
  text-decoration: none;
  background-color: #66a74f;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer; 
  align-items: center;
  gap: 6px;
  
}

.login:hover, .sign-up:hover {
  background-color: rgba(123, 182, 97, 0.8);
}


