.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 24px;  //opp 0 16px se preferisci
  background: #7bb661;
  //font-size: 30px;  //questo l'ha tolto
  color: #fff;
  box-sizing: border-box;
}


/* logo */
.name {
  font-size: 1.8rem;
  font-weight: 700;
}


/* BOTTONI */
.profile-menu,
.login-signup {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* bottoni generici */
button {
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  padding: 8px 14px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #66a74f;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 2px;
}

/* icone */
.profile-icon,
.logout-icon {
  font-size: 1.3rem;
}

/* hover */
button:hover {
  background-color: rgba(123, 182, 97, 0.8);
}

@media (max-width: 768px) {

.home {
    width: 100%;
    display: flex;
    justify-content:right;
    margin-bottom: 8px;
  }

  .navbar {
    height: auto;
    padding: 10px 12px;
    flex-wrap: wrap;
  }

  .name {
    font-size: 1.3rem;
  }

  .profile-menu,
  .login-signup {
    width: 100%;
    justify-content: space-around;
    margin-top: 8px;
  }

  button {
    flex: 1;
    justify-content: center;
    font-size: 0.9rem;
    padding: 10px;
  }
}
