:host {
  display: block;
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
  min-height: 400px; 
}

/* Marker popup */
.marker-title-link {
  font-size: 12px;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-bottom: 2px;
  text-align: center;
}
.marker-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 4px auto;
}


.marker-title-link:hover {
  text-decoration: underline;
}

.marker-date {
  font-size: 10px;
  color: #555;
  text-align: center;
}