/*.map-container {
  width: 100%;
  flex: 1 1 auto;
  margin-top: 2px;
}*/
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-container {
  flex: 1 1 auto;
  width: 100%;
  height: 100vh;
}
