.nuovo-avvistamento-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: visible;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
  }

  label {
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: #555;
  }

  input, textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
    resize: vertical;
  }

  textarea {
    min-height: 100px;
  }

.file-upload-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  input[type="file"] {
    display: none; 
  }

  .file-btn {
    padding: 0.5rem 1rem;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .file-btn:hover {
    background-color: #45a049;
  }

  .file-name {
    font-size: 0.9rem;
    color: #555;
  }
}

  
  app-map {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    height: 400px; /* Altezza fissa per il form */
    margin-bottom: 1rem;
  }


  .btn {
    padding: 0.7rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #45a049;
  }
}
