.sign-up-container {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  text-align: center;
}

input {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #7bb661;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #66a74f;
}

.error {
  color: red;
  margin-top: 10px;
}


button.floating-back {
  position: abdsolute;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1000;

  width: auto !important    ;
  padding: 8px 12px;
  background: #7f8c8d;
  color: white;
  font-size: 16px; 

  border-radius: 999px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  line-height: 1;
}


button.floating-back:hover {
  background: #606c70;
}


.feedback {
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback .success {
  background-color: #dff5e1;
  border: 1px solid #a3d29f;
  color: #276749;
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 1.5em;
}


.feedback .error {
  background-color: #ffe1e1; 
  border: 1px solid #d29f9f; 
  color: #a33a3a; 
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 1.5em;
}


.feedback p {
  margin: 10px 0;
  font-size: 1.5em;
}


/* MOBILE */
@media (max-width: 768px) {
  .floating-back {
    margin-top: 20px;
    top: 12px;
    left: 12px;
    bottom: auto;
    transform: none;
    width: auto  !important;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 999px;
  }
  .feedback {
    max-width: 90%;
    padding: 16px 18px;
  }

  .feedback p {
    font-size: 1.1rem;
  }
}