<button class="btn-secondary floating-back" (click)="backToMap()">❮ Torna alla mappa</button>

<div class="cat-page-container" *ngIf="avvistamento">
  <div class="cat-info">
    <div class="cat-photo-container">
      <img [src]="getFotoUrl(avvistamento.foto)" alt="Foto del gatto" class="cat-photo">
    </div>

    <div class="cat-details">
      <h1>{{ avvistamento.titolo }}</h1>
      <p [innerHTML]="descrizioneHtml" style="margin-left: 2em;"></p>
      <p><strong>Posizione: </strong> Lat: {{ avvistamento.lat }}, Lng: {{ avvistamento.lng }}</p>
      <p><strong>Avvistato il: </strong>{{ avvistamento.dataInserimento | date:'dd/MM/yyyy HH:mm' }}</p>
      <p><strong>Utente: </strong>
        <button class="btn-small" (click)="vaiAlProfiloUtente(avvistamento.userId)">
          Profilo utente
        </button>
      </p>
    </div>
  </div>
</div>


  <!-- Commenti -->
  <div class="commenti-section">
  <h3>Commenti</h3>

  <div class="commenti-list">
    <div class="commento-card" *ngFor="let c of commenti">
  <div class="comment-header">
    <div class="comment-user">
      <div class="avatar">
        {{ c.User?.userName?.charAt(0) }}
      </div>
      <span class="comment-username" [class.clickable]="c.User?.id !== auth.user?.id"
        (click)="c.User?.id !== auth.user?.id && vaiAlProfiloUtente(c.User.id)">
        {{ c.User?.id === auth.user?.id ? 'Tu' : c.User?.userName }}
      </span>



    </div>
    <span class="comment-date">
      {{ c.dataInserimento | date:'dd/MM/yyyy HH:mm' }}
    </span>
  </div>

  <div class="comment-body">
    {{ c.testo }}
  </div>
</div>

  </div>

  <div class="comment-form-wrapper">
    <div class="new-comment" *ngIf="auth.isLogged; else loginMsg">
      <textarea [(ngModel)]="nuovoCommento" placeholder="Scrivi un commento..."></textarea>
      <button class="btn-send" (click)="aggiungiCommento()">Invia ➤</button>
    </div>

    <ng-template #loginMsg>
      <p class="login-msg"><a  [routerLink]="['/login']" [queryParams]="{ returnUrl: router.url }">Accedi</a> per aggiungere un commento!</p>
    </ng-template>
  </div>
</div>

