.cat-page-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #fdfdfd;
}

.floating-back {
  position: fixed;
  top: 90px;  /* navbar height + margine */
  left: 20px;
  z-index: 1000; /* sopra tutto */
  padding: 8px 12px;
  background: #7f8c8d;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
}

.floating-back:hover {
  background: #606c70;
}


/* foto + dettagli */
.cat-info {
  display: flex;
  gap: 20px;
  margin-bottom: 30px; 
  align-items: flex-start;
}

.cat-photo-container {
  flex: 0 0 200px;
}

.cat-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ddd;
}

.cat-details {
  flex: 1;
}

.cat-details h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.cat-details p {
  margin: 5px 0;
}

.btn-small {
  padding: 4px 8px;
  background: #e67e22; 
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  height: 30px;
  
}

.btn-send{
  padding: 4px 8px;
  background: #e67e22; 
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  height: 30px;
  font-size: 18px;
}

.btn-small:hover {
  background-color: #d35400;
}


.btn-send:hover {
  background-color: #d35400;
}
/* Commenti */

.commento-card {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.new-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.new-comment textarea {
  width: 100%;
  min-height: 60px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
}

.commenti-section {
  display: flex;
  flex-direction: column;
  max-height: 55vh; // altezza della sezione
  border: 1px solid #e2e8e4;
  border-radius: 10px;
  overflow: hidden;
}
.commenti-section h3{
  margin-left: 20px;
}

.commenti-list {
  overflow-y: auto; // scroll verticale solo per i commenti
  padding: 1rem;
  flex-grow: 1;
}

.new-comment textarea {
  width: 100%;
  resize: none;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #cfd8d3;
  margin-bottom: 0.5rem;
}
/*
.btn-small {
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  background-color: #2f855a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-small:hover {
  background-color: #276749;
}*/

.comment-form-wrapper {
  position: sticky;
  bottom: 0;
  padding: 0.8rem 1rem;
  border-top: 1px solid #cfd8d3;
  border-radius: 0 0 10px 10px; // arrotonda solo in basso
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comment-form-wrapper .login-msg {
  //background-color: #7bb661; 
  color: black;
  margin: 0;
  display: block;
  
}

.comment-form-wrapper .login-msg a {
  color: black;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
