<button class="btn-secondary floating-back" (click)="backToMap()">❮ Torna alla mappa</button>

<div class="profile-container" *ngIf="user; else loadingTpl">

  <section class="user-info">
    <h1>{{ user.username }}</h1>
  </section>

  <hr>

  <section class="my-spottings">
    <h3>Avvistamenti dell'utente</h3>

    <div class="spotting-list">
      <div class="spotting-card" *ngFor="let a of avvistamenti">
        <img [src]="getFotoUrl(a.foto)" alt="Gatto">
        <div>
          <h4>{{ a.titolo }}</h4>
          <button class="btn-small" (click)="vaiADettaglio(a.id)">
            Apri dettaglio
          </button>
        </div>
      </div>
    </div>

  </section>
</div>

<ng-template #loadingTpl>
  <p style="text-align:center; margin-top:2rem;">Caricamento profilo...</p>
</ng-template>
