.profile-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #fdfdfd;
}

.floating-back {
  position: absolute;
  top: 90px;            
  left: 20px;
  z-index: 1000;

  padding: 8px 12px;
  background: #7f8c8d;
  color: white;

  border-radius: 999px; 
  border: none;
  cursor: pointer;

  font-size: 16px;
  transition: 0.2s;
}

.floating-back:hover {
  background: #606c70;
}



.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info h2 {
  margin: 0;
  font-size: 1.5em;
}

.user-info p {
  margin: 4px 0 0 0;
  color: #555;
}

.actions {
  margin: 15px 0;
  display: flex;
  gap: 10px;
}


.spotting-list {
  margin-top: 20px;
}

.spotting-card {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background: white;
  transition: 0.2s;
}

.spotting-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.spotting-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}

.spotting-card h4 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
}

.btn-small {
  padding: 4px 8px;
  background: #e67e22;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn-small:hover {
  background: #d35400;
}


@media (max-width: 768px) and (orientation: portrait) {
  
  .floating-back {
    margin-top: 5px;
    top: 12px;
    left: 12px;
    bottom: auto;
    transform: none;
    width: auto;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 999px;
  }
}
@media (max-width: 1366px) {

  .profile-container{
    margin-top: 15px;
  }
  .user-info{
    justify-content: center;
  }
  .profile-container h1{
    text-align: center;
  }
}

/* MOBILE  */
@media (max-width: 768px) {

  .spotting-card {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 8px;
  }

  .spotting-card img {
    width: 100%;
    max-width: 220px;
    height: auto;
  }

  .spotting-card div {
    width: 100%;
    text-align: center;
  }

  .spotting-card h4 {
    font-size: 1.1em;
  }

  .btn-small {
    width: 100%;
    margin-top: 8px;
  }
}
