.profile-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.floating-back {
  position: absolute;
  top: 90px;  /* navbar height + margine */
  left: 20px;
  z-index: 1000; /* sopra tutto */
  padding: 8px 12px;
  background: #7f8c8d;
  color: white;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
}

.floating-back:hover {
  background: #606c70;
}

.user-info h2 {
  margin: 0;
  font-size: 1.5em;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info p {
  margin: 4px 0 0 0;
  color: #555;
}

.spotting-list {
  margin-top: 20px;
}

.spotting-card {
  position: relative;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
}

.spotting-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}

.btn-primary {
  padding: 8px 12px;
  background: #e67e22;
  color: white;
  border-radius: 6px;
  border: none;
}

.btn-avv {
  padding: 8px 12px;
  background: #e67e22;
  color: white;
  border-radius: 6px;
  border: none;
}

.actions-avv {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}


.btn-small {
  padding: 4px 8px;
  background: #e67e22;
  color: white;
  border-radius: 6px;
  border: none;
  justify-items: end;
  margin-top: 20px;
}

//empty avvistamenti
.empty-state {
  margin-top: 20px;
  padding: 20px;
  border: 1px dashed #cfd8d3;
  border-radius: 10px;
  text-align: center;
  color: #555;

  p {
    margin-bottom: 12px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .floating-back {
    margin-top: 5px;
    top: 12px;
    left: 12px;
    bottom: auto;
    transform: none;
    width: auto  !important;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 999px;
  }
}
@media (max-width: 1366px) {

  .profile-container{
    margin-top: 15px;
  }
  .user-info{
    justify-content: center;
  }
  .profile-container h1{
    text-align: center;
  }
}


//ELIMINAZIONE
.btn-delete {
  background: transparent;
  border: none;
  color: #e74c3c;
  cursor: pointer;
  font-size: 1.3rem;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s, transform 0.1s;
}

.btn-delete:hover {
  color: darkred;
  transform: scale(1.1);
}

/* MOBILE  */
@media (max-width: 768px) {

  .spotting-card {
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    padding: 8px;
  }

  .spotting-card img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
  }

  .spotting-card div {
    width: 100%;
    text-align: center; 

  .btn-small {
    width: 100%; 
    margin-top: 10px;
  }

  .btn-delete {
    position: relative; 
    top: auto;
    right: auto;
    margin-top: 8px;
  }

  .actions-avv {
    justify-content: center; 
  }
}

}
