<button class="btn-secondary floating-back" (click)="backToMap()">❮ Torna alla mappa</button>

<div class="profile-container" *ngIf="user">
  <h1>Il mio profilo</h1>

  <section class="user-info">
    <div>
      <p>Email: {{ user.email }}</p>
      <p>Iscritto dal: {{ user.createdAt | date:'dd/MM/yyyy' }}</p>
    </div>
  </section>

  <hr>

  <section class="actions">
    <button class="btn-primary" (click)="createAvvistamento()" routerLink="/nuovo-avvistamento">
      + Aggiungi nuovo avvistamento
    </button>
    <!-- <button class="btn-secondary" (click)="modificaProfilo()">Modifica profilo</button> -->
  </section>

  <hr>

  <section class="my-spottings">
    <h3>I miei avvistamenti</h3>
    
    <div class="spotting-list">
      <div class="spotting-card" *ngFor="let a of avvistamenti">
        <img [src]="getFotoUrl(a.foto)" alt="Gatto">
        <div>
          <h4>{{ a.titolo }}</h4>
          <button class="btn-small" (click)="vaiADettaglio(a.id)">
            Apri dettaglio
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
