.profile-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.floating-back {
  position: fixed;
  top: 90px;  /* navbar height + margine */
  left: 20px;
  z-index: 1000; /* sopra tutto */
  padding: 8px 12px;
  background: #7f8c8d;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
}

.floating-back:hover {
  background: #606c70;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.spotting-list {
  margin-top: 20px;
}

.spotting-card {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.spotting-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}

.btn-primary {
  padding: 8px 12px;
  background: #e67e22;
  color: white;
  border-radius: 6px;
  border: none;
}

.btn-small {
  padding: 4px 8px;
  background: #e67e22;
  color: white;
  border-radius: 6px;
  border: none;
}
