.page-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logout-message {
  background-color: #dff5e1;
  border: 1px solid #a3d29f;
  color: #2f5d37; 
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 500px;
  margin: 100px auto; /* centra verticalmente */
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}


.logout-message p {
  margin: 10px 0;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .logout-message {
    max-width: 100%;
    margin: 60px 12px;
    padding: 16px;
  }

  .logout-message p {
    font-size: 1.1em;
  }
}
