/* You can add global styles to this file, and also import other style files */
@import "leaflet/dist/leaflet.css";

html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
